<div id=tabla1 *ngFor="let tweet of listaTweets" >
    <div id=cabtab1>
        <h1>Autor: {{tweet.autor}}</h1>
    </div>
    <div id=cuerpotab1>
        <h1>Tweet:</h1> 
        <h2>{{tweet.texto}}</h2>
    </div>
    </div>
    
    <div class="tweet-box">
        <div>
            <div>
                <label class="label-tweet" for="">AUTOR</label>
                <input type="text" class="input-form" [(ngModel)]="nuevoTweet.autor">
            </div>
            <div>
                <label class="label-tweet" for="">MI NUEVO TWEET</label>
                <textarea type="text" class="input-form" [(ngModel)]="nuevoTweet.texto"></textarea>
            </div>

       
        <button (click)="adicionarNuevoTweet()">AGREGA TU TWEET!</button>
      